body {
  display: flex;
  padding: 2rem;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.App {
  display: flex;
}

.board {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1px;
  border: 1px solid #000;
}

.square {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.board > div:nth-child(odd) .square:nth-child(odd),
.board > div:nth-child(even) .square:nth-child(even) {
  background-color: #ddd;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.piece-details {
  padding: 4rem;
}

.selected {
  background-color: yellow !important;
}